body{ background-image: url(body.jpg);
background-repeat: no-repeat;
background-size: 100rem;
height: auto;

font-family: Arial, Helvetica, sans-serif;}
.noticias {background-image: url(volcan.jpg);background-repeat: no-repeat;
    background-size: 100rem;
    height: auto;
   color: white;
font-family: Arial, Helvetica, sans-serif;}
.small{color: white;
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 10px;}




.mapa{display: flex;
flex-direction: row;
align-items: center;}